@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 23 23 23;
  --background: 247 250 252;
}

html, body, #__next {
  height: 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.card {
  @apply bg-white rounded-xl shadow-sm border border-gray-100;
}

.btn-primary {
  @apply inline-flex items-center justify-center px-4 py-2 rounded-lg bg-primary text-white hover:bg-primary-dark transition;
}

